/* Grid breakpoints - you can customize it here, or in any other scss file  */
$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1536px !default;
